.profile__subtitle {
  margin-top: 0;
  color: #FFF;
  font-family: inherit;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 8rem;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .profile__subtitle {
    flex-shrink: 0;
    margin-right: 9rem;
    color: #FFF;
    text-align: center;
    font-family: inherit;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .profile__subtitle {
    width: 17.625rem;
    height: 0.875rem;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: inherit;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
