.popup__title {
  width: 20.625rem;
  height: 1.4375rem;
  flex-shrink: 0;
  color: #000;
  font-family: inherit;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  display: flex;
  flex-direction: row;
  margin-right: 1rem;
  margin-top: 2.1rem;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .popup__title {
    width: 17rem;
    color: #000;
    font-family: inherit;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .popup__title {
    width: 14.875rem;
    color: #000;
    font-family: inherit;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-left: 1rem;
  }
}
